<html>
<head>
    <title>User Locale Example</title>
</head>
<body>
Language : <a href="?language=en">English</a>|<a href="?language=ko_KR">Korea</a>

<h1>{{i18n "welcome.title"}}</h1>
<h1>{{welcomeMessage}}</h1>
<h1>{{i18n "post.message" "Dgkim" "2020 Dec"}}</h1>
</body>
</html>